/*****************************************************************************************	
 Variables	
*****************************************************************************************/

$neutral_col: #373434; /* grey */

$text_color: #fff; /* white */
$text_color_diff: #000; /* black */


/* MAIN */
$primary_col: #259EDF; /* light blue */
$highlight_col: #1C3C8D; /* dark blue */

/* DIENSTLEISTUNGEN */
$primary_col: #1C3C8D; /* dark blue */
$highlight_col: #259EDF; /* light blue */


/*****************************************************************************************	
 Body	
*****************************************************************************************/

/* Remove horizontal scrolling */
body{
	overflow-x: hidden;
	margin-left: -0.1rem;
}
img{
	max-width: 100%;
}
/* Custom font */
h3{
	/* font-family: 'Mom\'sTypewriter'; */
	hyphens: auto;
}
h4{
	padding: 1rem 0 0 0.5rem;
	font-family: 'Mom\'sTypewriter';
	hyphens: auto;
}
/* Bigger h6 */
h6{
	font-size: 2rem;
	font-weight: 500 !important;
}
 blockquote{
	margin-top: 5rem;
 }
 /* No label text in selection */
 select{
	 padding-top: 1rem !important;
 }
 
/* Remove icons for external links */
#icon-link-out {
	visibility: hidden;
}
.nw_icon_link-out {
	width: 0px !important;
	height: 0px !important;
}
/* Hide elements with this class */
.hidden{
	visibility: hidden;
}

.full-width{
	width: 100%;
}

/* Slight padding on h4 (primary for Redaktionelle Inhalte) */
.nw_product-box__title{
	font-family: revert !important;
}

.loe-list > li {
  padding-left: 0.5em;
  list-style-type: "⚙";
}
 .text-center{
	text-align: center;
 }
 
 .center{
	display: block;
	margin-left: auto;
	margin-right: auto;
 }

.nw_page-title h1{
	font-size: 2rem !important;
	letter-spacing: 0.05rem;
}
@include media-breakpoint-down(sm) {
	.nw_page-title h1{
		font-size: 1.5rem !important;
		letter-spacing: 0.05rem;
	}
}

@include media-breakpoint-up(lg){
	.mobile-only{
		display: none !important;
	}
}

@include media-breakpoint-down(lg){
	.no-mobile{
		display: none !important;
	}
}

@include media-breakpoint-down(xxl){ /* No sticky top on mobile */
	.sticky-top{
		position: relative;
	}
}



/*****************************************************************************************	
 Header	
*****************************************************************************************/

/* Better visible designer icon */
.designer-activation{
	color: pink;
}
/* Grey border for search */
.nw_search__wrapper{
	border: 1px solid #c4c4c4 !important;
}
/* Blue search; White search icons */
.nw_search-input{
	background-color: $primary_col !important;
	fill: #FFFFFF !important;
}
/* White header text */
.nw_service-navigation__item-title{
	color: #FFFFFF !important;
	font-size: 1.4rem !important;
}
.nw_service-navigation__item{
	color: #FFFFFF !important;
	font-size: 1.4rem !important;
}
.nw_service-navigation__item-list a {
	color: #FFFFFF !important;
}
/* Blue hover for header links */
.nw_service-navigation__item a:hover{
	color: #3169a6 !important;
}
/* White search icons */
.nw_search-input__camera-icon svg{
	stroke: #FFFFFF !important;
}
.nw_search-input svg {
	fill: #FFFFFF !important;
}
/* Smaller gap between header and content */
.nw_page-section__page-top--home {
	padding-top: 0rem !important;
	margin-top: 0rem !important;
}
/* Size of logo */
.logo{
	max-width: 100%; 
	max-height: 65px;
	filter: brightness(0) invert(1);
}
.logo:hover{
	filter: unset;
}
/* Gap on top of page */
.nw_header__top {
  padding-top: 3rem;
  max-width: 120rem;
}
/* Diff bg color for search bar */
.nw_header__content {
	width: 100%;
	max-width: none !important;
	padding: 0 !important;
}
.nw_header__bottom, .nw_header__top {
	width: 100%;
	padding-right: 10%;
	padding-left: 10%;
}
.nw_header__bottom{
	background: #484848;
}

.form-check-label {
  align-items: flex-start !important;
}


/*********************************************
 Search
*********************************************/

/* No category search */
.nw_search__category_wrapper {
	max-width: 0% !important;
}
.nw_search-input__wrapper{
	flex-basis: 100% !important;
}
.nw_single-input-form{ /* Fix for mobile searchbar size */
	width: 90%;
}
/* Bolder menu text */
.nw_header-submenus{
	font-weight: 500;
}

.nw_search-wrapper{
	width: 70% !important; /* Bigger search on top */
}
/* Round search bar */
input[name="query"]{
	background-color: $highlight_col;
	color: $text_color;
	text-shadow: 0 0 3px #000; /* horizontal-offset vertical-offset 'blur' colour */
	-moz-text-shadow: 0 0 3px #000;
	-webkit-text-shadow: 0 0 3px #000;
	border-top-left-radius: 0.375rem !important;
	border-bottom-left-radius: 0.375rem !important;
	border: 2px solid #fff;
}
input[name="query"]::placeholder{
	color: $text_color;
	text-shadow: 0 0 3px #000; /* horizontal-offset vertical-offset 'blur' colour */
	-moz-text-shadow: 0 0 3px #000;
	-webkit-text-shadow: 0 0 3px #000;
	font-weight: bold;
}
.input-group-text.shadow-none.px-4.btn.btn-primary{
	border: 2px solid #fff;
}
.shadow-none.px-4.btn.btn-primary.nw_search-bar__barcode-scan{
	border: 2px solid #fff;
}



/*****************************************************************************************	
 Megamenu	
*****************************************************************************************/

.nw_header__service-navigation{
	display: none;
}

.nw_header__main-navigation{
	display: none !important;
}



/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Screen style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.menu-content-row{
	background: transparent;
}
.menu-container {
  width: 100%; /* 80% */
  min-height: 75px;
  margin: 0 auto;
  background: transparent;
  float: left;
}

.menu-mobile {
  display: none;
  padding: 20px;
  bottom: 0;
  background-image: url("https://www.loechel-industriebedarf.de/upload/shoppictures_95/tinymce/frontpage_2024/logo_klein_sw_loechel.png");
  background-repeat: no-repeat;
  background-size: contain;
  text-decoration: none !important;
  &:after {
    content: "\f0c9";
    font: var(--fa-font-solid);
    font-size: 2.5rem;
    padding: 0;
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-25%);
  }
}

.menu-dropdown-icon {
  &:before {
    content: "\f054";
	font: var(--fa-font-solid);
    display: none;
    cursor: pointer;
    float: right;
    padding: 1.5em 2em;
    background: #fff;
    color: #333;
  }
}

.menu {
	float: left;
	height: 100%;
  > ul {
    margin: 0 auto;
    width: 100%;
	height: 70px;
    list-style: none;
    padding: 0;
    position: relative;
    //position: relative;
    /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &:before,
    &:after {
      content: "";
      display: table;
    }
    &:after {
      clear: both;
    }
    > li {
      float: left;
      background: transparent;
      padding: 0;
      margin: 0;
	  height: 70px;
	  list-style-type: none;
      > a {
        text-decoration: none;
        padding: 0 1.5em;
        display: block;
		color: #fff;
		font-size: 16px;
		line-height: 70px;
		font-weight: 600;
		letter-spacing: 0.05rem;
		img{
			margin-top: -42px;
		}
      }		  
      &:hover {
        background-color: $primary_col;
		color: $text_color_diff;
      }
      > ul {
        display: none;
        width: 100%;
        background: $highlight_col;
        padding: 20px;
        position: fixed;
        z-index: 99;
        left: 0;
        margin: 0;
		margin-top: -5px;
		top: 10rem;
        list-style: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        &:before,
        &:after {
          content: "";
          display: table;
        }
        &:after {
          clear: both;
        }
        > li {
          margin: 0;
          padding-bottom: 0;
          list-style: none;
          width: 25%;
          background: none;
          float: left;
          a {
            color: #fff;
			text-shadow: 0 0 3px #000; /* horizontal-offset vertical-offset 'blur' colour */
		    -moz-text-shadow: 0 0 3px #000;
		    -webkit-text-shadow: 0 0 3px #000;
            padding: .2em 0 0.2em 1em;
            width: 95%;
            display: block;
            border-bottom: 1px solid #ccc;
			font-size: 16px;
			text-decoration: none;
          }
          > ul {
            display: block;
            padding: 0;
            margin: 10px 0 0;
            list-style: none;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            &:before,
            &:after {
              content: "";
              display: table;
            }
            &:after {
              clear: both;
            }
            > li {
              float: left;
              width: 100%;
              padding: 10px 0;
              margin: 0;
              font-size: .8em;
              a {
                border: 0;
				text-decoration: none;
              }
            }
          }
        }
        &.normal-sub {
          width: 300px;
          left: auto;
          padding: 10px 20px;
          > li {
            width: 100%;
            a {
              border: 0;
              padding: 1em 0 1em 1em !important;
            }
          }
        }
      }
    }
  }
}
.li-inline > ul > li {
  float: none !important;
  display: inline;
}
.menu > ul > li > ul > li > ul > li > div:hover{
	background-color: $primary_col;
	/* Kein Hintergrundwechsel bei den Überschriften */
	.menu > ul > li > ul > li > ul > li{
		background-color: transparent;
	}
	
}
.menu > ul > li > ul > li > ul > li:hover{
	background-color: $primary_col;
}
.menu > ul > li > ul > li > a:hover{
	background-color: $primary_col;
}
.menu-loe > ul > li > ul > li {
	list-style-type: none;
}
.menu-loe > ul > li > ul > li > a > p{
	display: inline-block;
	font-weight: 500;
}
.menu-loe > ul > li > ul > li > a > img{
	height: 32px;
	vertical-align: middle;
}
.normal-sub > li > a{
	font-weight: 500;
}
.menu-marken-img-container > a{
	font-weight: 500;
}
.menu-loe-container > a > p{
	font-weight: 500;
}
.menu-marken-img-container > a > img{
	vertical-align: middle;
	max-width: 100%;
	max-height: 50px;
}
.menu-marken-img-container{
	height: auto !important;
	width: 45%;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: 1em 0 1em 0;
}
.menu-loe-container{
	height: auto !important;
	vertical-align: middle;
	padding: 1em 0 1em 1em;
}
.menu-markenwelten ul > li > div > a > img{
	max-height: 100px !important;
}
.no-hover:hover{
	background: transparent !important;
}


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 1023px) {
  .menu-container {
    width: 100%;
	height: 100%;
  }
  .menu-mobile {
    display: block;
	color: #FFF !important;
  }
  .menu-dropdown-icon {
    &:before {
      display: block;
    }
  }
  .menu {
	  float: none;
    > ul {
      display: none;
      > li {
        width: 100%;
		height: unset;
        float: left;
        display: block;
        a {
          padding: 1.5em;
          width: 100%;
          display: block;
		  line-height: unset !important;
        }
        > ul {
          position: inherit;
		  margin-top: 0px;
          &.normal-sub {
            width: 100%;
          }
          > li {
            float: left;
            width: 100%;
            margin-top: 20px;
            &:first-child {
              margin: 0;
            }
			> a{
				line-height: unset;
			}
            > ul {
              position: relative;
              > li {
                float: left;
              }
            }
          }
        }
      }
    }
    .show-on-mobile {
      display: block;
    }
	.not-on-mobile {
      display: none;
    }
	.mobile-center{
		text-align: center;
	  }
  }
}

.menu-container-mobile-open{
	position: fixed;
	overflow-x: auto;
	background: #343434 !important;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 9999;
}

.nw_header__content{  /* Position megamenu */
	position: absolute;
	left: 0;
	background-color: #555555;
	padding-top: 1rem !important;
}
.nw_header__content{ 
	@include media-breakpoint-up(xs) {
		top: 4rem;
	}
}
.nw_header__content{ 
	@include media-breakpoint-up(md) {
		top: 4.75rem;
	}
}

.nw_header__top-navigation{
	display: none; /* Hide standard menu */
}

@include media-breakpoint-up(xs) {
	#nw_page-content-wrapper {
		margin-top: 9rem;
	}
}
@include media-breakpoint-up(sm) {
	#nw_page-content-wrapper {
		margin-top: 8rem;
	}
}
@include media-breakpoint-up(lg) {
	#nw_page-content-wrapper {
		margin-top: 9rem;
	}
}
@include media-breakpoint-up(xxl) {
	#nw_page-content-wrapper {
		margin-top: 5rem;
	}
}


.nw_navigation{
	display: none; /* Hide standard hamburger menu */
}



/*****************************************************************************************	
 Footer	
*****************************************************************************************/

/* White footer text; underline links */
.nw_footer a {
	color: #ffffff !important;
	text-decoration: underline !important;
	border-bottom: 0px !important;
}
/* No weird white bar on bottom of page */
.nw_flyout--steel{
	display: none;
}

.nw_footer__content-boxes > section > article > section > div > h2{
	font-size: 1.3rem !important;
	text-transform: uppercase;
}

.nw_content-box__header > h2{
	color: $text_color !important;
}

.nw_content-box--primary > .nw_content-box__header > h2{
	color: $text_color !important;
	text-shadow: 0 0 3px #000; /* horizontal-offset vertical-offset 'blur' colour */
	-moz-text-shadow: 0 0 3px #000;
	-webkit-text-shadow: 0 0 3px #000;
}


/*****************************************************************************************	
 Frontpage / Startseite / Homepage
*****************************************************************************************/


/* Full size page */
.nw_content-box__body{
	padding: 0rem !important;
}
.nw_stage-swiper-box{
	margin-left: -1.5rem;
	margin-right: -2.5rem;
}

/* Categories Background, hover and slightly more transparent overlay */
.nw_category-box__overlay {
	z-index: 11;
	position: relative;
}
.nw_category-box__wrapper {
	overflow: hidden;
}
.loe-brands > section > div > div > div > div > div > div > div > div > a > div{
	background: $highlight_col;
	background: -webkit-gradient(linear, left top, left bottom, from(#2ac0ff), to(#1a76a8));
    background: -moz-linear-gradient(top, #2ac0ff, #1a76a8);
    background: linear-gradient(to bottom, #2ac0ff, #1a76a8);
}
.loe-brands > section > div > div > div > div > div > div > div > div > a > div:hover, .container-li>div>div>img:hover{
	background: #32e6ff;
	background: -webkit-gradient(linear, left top, left bottom, from(#32e6ff), to(#1f8eca));
    background: -moz-linear-gradient(top, #32e6ff, #1f8eca);
    background: linear-gradient(to bottom, #32e6ff, #1f8eca);
	opacity: 0.8;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.nw_category-box__image:hover{
	-webkit-transition: .3s ease-in-out;
	transition: .5s ease-in-out;
	-webkit-transform: scale(1.05);
	transform: scale(1.05);	
}
.nw_category-box__image {
	transition: 0.5s all ease-in-out;
}
/* Headlines in uppercase, bold and aligned left */
.headline, .-free-headline > div > h2 {
	text-align: left !important;
	color: black !important;
	font-weight: 700 !important;
	font-family: 'Mom\'sTypewriter';
	float: left;
	text-wrap: balance;
	font-size: 2rem !important;
}

.nw_search__history > li{
	font-size: 1rem !important;
	float: none !important;
}
/* Alle Artikel anzeigen bei Advertising */
.designer-template-section .nw_content-box--secondary.-free-headline .nw_content-box__header{
	text-align: right !important;
}

/* Brands: Greyscale => non grayscale on hove r*/
.nw_brands-banner__image {
	filter: grayscale(1);
}
.nw_brands-banner__image {
	position: relative;
	color: gray;
	filter: grayscale(1);
}
.nw_brands-banner__image:hover {
	filter: grayscale(0);
}
.nw_m-brands-banner img {
	margin-top: 0px !important;
}
/* Brands: fix very long icons */
.nw_image.nw_brands-banner__image {
  max-width: 300px;
  max-height: 100px;
}
.nw_brands-banner__image > a > img {
	max-width: 100% !important;
	max-height: 100% !important;
}
/* Different background */
.diff-background{
	background-color: #eeeeee !important;
}
 /* centers imgs for categories */
.nw_category-box__image {
	text-align: center !important;
}
/* Fix hover effect on front page */ 
.nw_category-box__image :hover{
	box-shadow: none !important;
}
.nw_category-box__overlay p{
	margin-top: 0 !important;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin-bottom: 0 !important;
}
.nw_category-box__name{
	background: $primary_col;
	color: #fff;
}

.nw_product-detail{
	margin-left: 2rem;
}
/* Fix for brand display on frontpage */
.loe-brands {
	padding-right: 0 !important;
	padding-left: 0 !important;
}
.ontext, .offtext{
	top: 1rem !important;
}

.nw_category-box__image{
	max-height: 380px;
}
.nw_category-box__image img{
	max-height: unset !important;
}
.designer-content-row{
	margin-top: 0.5rem !important
}

.li-newsletter > section{
	height: unset;
}
.li-newsletter > section > .nw_content-box__body{
	padding: 1.25rem 1.25rem 0 1.25rem !important;
}
input[name="emailRegister"]{ /* Register input: Only a line on bottom */
	margin-top: 2rem;
	margin-bottom: -2rem;
	border: none;
	border-bottom: 1px solid black;
}
.nw_newsletter-subscriber-box__intro-text > .btn.btn-primary{
	margin: 1rem 0 0 0 !important;
}

.margin-rem-remove{
	margin: 0 0 -2rem 0;
}


/**************************************
Slider
**************************************/
.swiper-button-prev, .swiper-button-next {
	width: 50px !important;
	height: 100px !important;	
}
.swiper-button-prev {
	background-image: url("https://www.loechel-industriebedarf.de/upload/shoppictures_95/tinymce/frontpage_2024/Pfeil_Links.png") !important;
}

.swiper-button-next {
	background-image: url("https://www.loechel-industriebedarf.de/upload/shoppictures_95/tinymce/frontpage_2024/Pfeil_Rechts.png") !important;
}

.swiper-button-next::after, .swiper-rtl, .swiper-button-prev::after{
	content: '' !important;
}

.swiper-pagination-bullet{ /* bigger bullets on sliders */
	height: 35px !important;
	width: 35px !important;
}

.swiper-pagination-bullet{ /* different bullet color and border */
	background-color: white !important;
	border: 3px solid black;
}

.swiper-pagination-bullet-active{
	background-color: $primary_col !important;
}
/* Slider arrows OLD slick slider */
.slick-prev, .slick-next {
	height: 100px !important;
	width: 50px !important;
	margin-top: 0px;
}
.slick-next {
	right: 1%;
}
.slick-prev {
	left: 1%;
}
.slick-dots li button::before {
	font-size: 14px !important;
	color: $primary_col !important;
}
.slick-active button::before{
	opacity: 1 !important;
}
.slick-dots li {
	width: 35px !important;
}
.slick-arrow:hover {
	opacity: 0.8;
	filter: grayscale(0.25);
}
@include media-breakpoint-up(xl) { /* On Desktop: Only display arrows and pagination on hover  */
	.swiper{
		.swiper-button-prev, .swiper-button-next, .swiper-pagination-bullet, .swiper-pagination-bullet-active{
			visibility: hidden;
			opacity: 0;
			transition: visibility 0s, opacity 0.5s linear;
		}
		&:hover{
			.swiper-button-prev, .swiper-button-next, .swiper-pagination-bullet, .swiper-pagination-bullet-active{
				visibility: visible;
				opacity: 0.8;
				transition: visibility 0s, opacity 0.5s linear;
			}
		}
	}
}
/* Main slider - No slider arrows on mobile */
@include media-breakpoint-down(lg) {
	.loe-main_slider > section > div > div > .swiper-button-next, 
	.loe-main_slider > section > div > div > div > .swiper-button-next, 
	.loe-main_slider > section > div > div > .swiper-button-prev,
	.loe-main_slider > section > div > div > div > .swiper-button-prev{
		display: none !important;
	}
	
	.loe-main_slider > section > div > div > div > .swiper-pagination-bullet{
		display: none !important;
	}		
}


/* Show a bit of next/prev slide on main img */
.loe-main_slider > section > div > div {
	/*padding-left: 4%;
	padding-right: 4%;*/
}
.loe-month_maschine > section > div > div > div > .swiper-slide{
	width: 100% !important;
}

.loe-main_slider-mobile{
		margin-top: -3.75rem;
	}
@include media-breakpoint-down(sm){
	.loe-brands{
		margin-top: -1.5rem;
	}
}

@include media-breakpoint-up(sm){
	.loe-main_slider{
		margin-top: 3.25rem !important;
	}
}
@include media-breakpoint-up(lg){
	.loe-main_slider{
		margin-top: 4.25rem !important;
	}
}
@include media-breakpoint-up(xl){
	.loe-main_slider{
		margin-top: -1.5rem !important;
	}
}

/* Mobile slider with text */
.nw_stage-swiper-box__image-text.-small {
  width: 100% !important;
  font-size: 2rem !important;
}

/* Services border only on top */
.nw_image.nw_category-box__image > .nw_image__image{
	border-radius: 9px 9px 0 0 !important;
}

/*****************************************************************************************	
 Redaktionelle Inhalte / Service Sites	
*****************************************************************************************/


/********************************************
 Tables
********************************************/

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: $primary_col;
   color: #fff !important;
   opacity: 0.85;
 }
.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: $highlight_col;
   color: #fff !important;
   opacity: 0.85;
 }
 .table-li{
	color: #fff !important;
	width: 100%;
	font-weight: 500;
	border-collapse: collapse !important;
 }
 .table-li > tbody > tr > td > a{
	 color: #fff !important;
	 font-weight: 500;
	 text-decoration: underline;
 }
 .table-li thead{
	color: #000 !important;
 }
 .table-li tbody > tr:hover{
	 opacity: 0.6;
 }


/********************************************
 Smaller font for advantage box
********************************************/
.nw_advantage-box--small{
	font-size: 1.2rem !important;
}


/********************************************
 Sidebar - Currently only used on "Services"
********************************************/
.loe_sidebar {
	display: none;
	position: fixed;
	right: 0;
	z-index: 99999;
	background-color: white;
	border: 1px solid black;
	border-right: 0;
	top: 25%;
	max-width: 20rem;
	padding: 1rem;
	color: $neutral_col;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Markenwelten
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.markenwelt-section { background-color:#F2F2F2 }
.markenwelt-section p { max-width: 1920px; }
.markenwelt-section p > img    { max-width: 100%; }
.markenwelt-section table > tbody > tr > td > a > img { 
	width: 100%; 
	max-height: 300px;
	mix-blend-mode: multiply;
}
.markenwelt-section > div > div > a > img:hover, .li-hover:hover{
	opacity: 0.8;
	filter: grayscale(0.25);
}
.markenwelt-section > div > div > a > img{
	mix-blend-mode: multiply;
}
.anchor{
	position: absolute;
	visibility: hidden;
	height: 0px !important;
	margin-top: -8rem !important;
}

.container-li{
	overflow-y: hidden;
}

.no-bg{
	background-color: transparent !important;
}

.business-card{
	width: 35% !important;
}

@include media-breakpoint-up(md) {
	.img-md-left > a > img{
		float: left;
	}
	.img-md-center{
		text-align: center;
	}
	.img-md-right > a > img{
		float: right;
	}
}



/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Services
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.psa-button{
	margin: 0.25rem 0 0.25rem 0;
	background-color: $primary_col;
	color: #fff;
}
.psa-button:hover{
	color: #000;
}
.psa-button-big{
	margin-top: 6rem;
	height: 8rem;
	width: 75%;
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.05rem;
}
.psa-button-medium{
	height: 3rem;
	width: 50%;
}
@include media-breakpoint-down(sm) {
	.psa-button-big{
		height: unset !important;
	}
}
.nw_button--primary:hover{
	background-color: #FFF !important;
}
.nw_button--primary:disabled{
	background-color: #8e95a6 !important;
}
.nw_button--primary[disabled]:hover{
	background-color: #8e95a6 !important;
	color: #FFF !important;
}
.reda-top-img{
	position: absolute;
	left: 0;
	right: 0;
	margin: auto !important;
	padding-right: 0 !important;	
	padding-left: 0 !important;	
}
.row{
	padding-bottom: 1rem !important;
}
.row-diff-bg{
	background-color: #eee;
}
.container-li > div > div > img{
	mix-blend-mode: multiply;
}
@include media-breakpoint-up(xs) {
	.reda-top-img{
		margin-top: 0.25rem !important;
	}
	.placeholder-reda-top-img{
		margin-top: 2rem;
	}
}
@include media-breakpoint-up(sm) {
	.reda-top-img{
		margin-top: 0rem !important;
	}
	.placeholder-reda-top-img{
		margin-top: 2rem;
	}
}
@include media-breakpoint-up(md) {
	.reda-top-img{
		margin-top: -0.5rem !important;
	}
	.placeholder-reda-top-img{
		margin-top: 3rem;
	}
}
@include media-breakpoint-up(lg) {
	.reda-top-img{
		margin-top: -0.5rem !important;
	}
	.placeholder-reda-top-img{
		margin-top: 5rem;
	}
}

@include media-breakpoint-up(xl) {
	.placeholder-reda-top-img{
		margin-top: 10rem;
	}
}
@include media-breakpoint-up(xxl) {
	.placeholder-reda-top-img{
		margin-top: 16rem;
	}
}
.li-img-border {
	border: 10px solid $primary_col;
	background-clip: padding-box;
	border-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjI1IiB3aWR0aD0iMjUiIHN0eWxlPSJzdHJva2Utd2lkdGg6MjsgZmlsbDojMUMzQzhEIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0wIDEwSDNWM2g3VjBIMFpNMTUgMHYzaDd2N2gzVjBaTTAgMTVWMjVIMTBWMjJIM3YtN3ptMjIgMHY3aC03djNIMjVWMTVaIi8+PC9zdmc+) 10 fill;
	border-image-outset: 0;
	border-image-width: 3;
	padding: 1rem;
	fill: $primary_col;
}
$scrolling-img-height: 30rem;
.scrolling-img-container {
	height: $scrolling-img-height;
	overflow: hidden;
	position: absolute;
	transform: skewY(-3deg);
	width: 100%;
	z-index: 1;
	left: 0;
	margin-top: 5rem;
}
.scrolling-img{
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
	border-top: 10px solid $primary_col;
	border-bottom: 10px solid $primary_col;
	background-image: url('https://www.loechel-industriebedarf.de/upload/shoppictures_95/tinymce/dienstleistungen/atemschutzmasken.jpg');
}
.scrolling-img-placeholder {
	margin-top: $scrolling-img-height+10;
}
@include media-breakpoint-up(lg) {
	.flex-align{ /* When I flex I feel my best */
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
}
.li-quote-body{
	border-left: 6px solid $primary_col !important;
	padding-left: 1rem;
	margin-top: 1rem;
}
.li-quote{
	margin-top: 1rem !important;
	font-size: 1rem !important;
}
.small-text{
	font-size: 0.75rem;
}
.full-size-text{
	background: $highlight_col;
	padding-bottom: 1rem;
	color: #fff;
}
.nw_page-title{
	display: none !important;
}
@font-face{
	font-family: 'Mom\'sTypewriter';
    src: url('https://tectree.de/mom.ttf'); /*URL to font*/
}
.custom-font{
	font-family: 'Mom\'sTypewriter';
}


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Retouren / Formulare
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#myTabContent{
	margin-top: 1rem;
}
.li-nav-item{
	width: 50%;
}
.li-nav-link{
	width: 100%;
}
.li-nav-item {
	margin-bottom: 0 !important;
}
.no-padding-right{
	padding-right: 0 !important;
}

/* Alerts */
.alert-success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}
.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

/* Fix position of date select icon */
input[type="date"]{
	padding-right: 5px !important;
}


/*****************************************************************************************	
 Checkout / Registrierung
*****************************************************************************************/

/* Checkout message for international customers */
.nw_login__register::after {
    content: "\A Damit für Kunden außerhalb Deutschlands online ein korrekten Steuersatz dargestellt wird, ist eine Registrierung zwingend notwendig! \A Sollte bei Auslandskunden eine Gastbestellung erfolgen, wird der Preis in der Auftragsbestätigung und Rechnung gegebenenfalls gemäß der gültigen Mehrwertsteuer angepasst. \A\A Innergemeinschaftliche Lieferungen sind nur auf Anfrage möglich! Senden Sie uns hier nach Ihrer Registrierung einfach eine kurze E-Mail. \A\A";
	white-space: break-spaces;
}



/* Damit Kauf auf Rechnung Text beim Checkout nicht komisch aussieht */
.nw_checkout-option__label{
	width: 100% !important;
}


/* Checkout */
.nw_cart__next-step, .nw_checkout__step-overview__next-step{
	width: 100% !important;
}
.nw_cart__totals > div > div > button, .nw_cart-item, .nw_cart-item__product-info > div > div > button, .nw_cart-item__product-info > div > section > button, .nw_checkout__step-overview__finals > div > label > a, .nw_single-page-checkout__content > div > div > button > i , .nw_cart-item__note > button, .nw_cart-item a, .nw_cart-item__header, .nw_cart__totals > div > div > a, .nw_addresses__address-card.is-selected > div > div > div > div{
	color: #fff !important;
}
.nw_checkout__step-overview img {
	mix-blend-mode: normal;
}

.nw_single-page-checkout__content > div > div > button, .nw_cart-item__product-info > div > div > button, .nw_cart-item__product-info > div > section > button{
	border: none !important;
	outline: none !important;
}

.nw_cart__content{
	background-color: #555353 !important;
}

/* Warnung für innergemeinschaftliche Lieferung und MwSt. bei der Anmeldung */
.nw_advantages-box::after {
	content: "\A Damit für Kunden außerhalb Deutschlands online ein korrekten Steuersatz dargestellt wird, ist eine Registrierung zwingend notwendig! \A Innergemeinschaftliche Lieferungen sind nur auf Anfrage möglich! Senden Sie uns hier nach Ihrer Registrierung einfach eine kurze E-Mail.";
	white-space: break-spaces;
}







/*****************************************************************************************	
 Search page
*****************************************************************************************/

/* Search Pages */
.nw_breadcrumb{
	margin: -1.5rem -2rem .5rem -1.5rem;
}
.nw_list-navigation{
	margin-left: 0rem;
}
.row{
	margin-right: 0 !important;
	padding-right: 0 !important;
	padding-left: 0 !important;
}
/* Hide categories in search */
.input-group-text.p-0.d-none.d-sm-block{
	display: none !important;
}
.nw_message-box__message {
	margin-bottom: 1rem;
}
.nw_message-box{
	margin: 4rem 0 5px 0 !important;
}





/*****************************************************************************************	
 Products / Produkte / Artikel / Article
*****************************************************************************************/
.nw_tabbed-pane__content-headline{
	display: none;
}
/* Colors product page */
.nw_product-detail__price-info > div{
	background-color: $highlight_col;
	color: $text_color !important;
	text-shadow: 0 0 3px #000; /* horizontal-offset vertical-offset 'blur' colour */
	-moz-text-shadow: 0 0 3px #000;
	-webkit-text-shadow: 0 0 3px #000;
}
.nw_product-detail__price-gross{
	color: $text_color !important;
	text-shadow: 0 0 3px #000; /* horizontal-offset vertical-offset 'blur' colour */
	-moz-text-shadow: 0 0 3px #000;
	-webkit-text-shadow: 0 0 3px #000;
}
.nw_product-detail__legal-shipping a{
	color: $text_color !important;
	text-shadow: 0 0 3px #000; /* horizontal-offset vertical-offset 'blur' colour */
	-moz-text-shadow: 0 0 3px #000;
	-webkit-text-shadow: 0 0 3px #000;
}
.nw_product-detail__add-to-cart-button, .btn-primary {
	color: $text_color !important;
	text-shadow: 0 0 3px #000; /* horizontal-offset vertical-offset 'blur' colour */
	-moz-text-shadow: 0 0 3px #000;
	-webkit-text-shadow: 0 0 3px #000;
	background-color: $primary_col;
}

.bg-light, .bg-light.text-muted{
	color: #fff !important;
}
.nw_breadcrumb__item a, .nw_breadcrumb__item span, .nw_breadcrumb__item i{
	color: #000 !important;
}
/* Product page - Title bold; Info not bold */
.nw_product-detail__content-product > tbody > tr > td:nth-child(2) { 
	font-weight: 100 !important;
}
.nw_product__attributes-table > tbody > tr > td:nth-child(2) { 
	font-weight: 500 !important;
}
/* Scrolling price display - correct position */
.nw_product-detail__price-info{
	top: 15rem !important;
}
/* Round borders */
.nw_product-detail__price-info > div{
	border-radius: 3rem !important;
}
/* Display title */
.nw_product-detail__header > div{
	display: block !important;
}
/* "Allgemeine Versandinformationen" 1px border */
.bordertable > tbody > tr > td{
	border-width: 1px;
}

.nw_amount-input__minus, .nw_amount-input__plus{
	background-color: $primary_col !important;
}

.btn, .btn:hover, .form-control, .nw_pills > span {
	border-width: 1px;
	border-style: solid;
	border-color: black;
	outline: 1px solid white;
}

.navbar > div > div > button, .navbar > div > div > .btn{
	outline: none !important;
}

.nw_product-price-box__body > div > button{
	outline: none !important;
	border-width: 0px !important;
}

.nw_product-detail__legal-shipping > button{
	color: $text_color !important;
	text-shadow: 0 0 3px #000; /* horizontal-offset vertical-offset 'blur' colour */
	-moz-text-shadow: 0 0 3px #000;
	-webkit-text-shadow: 0 0 3px #000;
	border: none !important;
	outline: none !important;
}
.nw_product-danger > button, .nw_product-safety > button{
	border: none !important;
	outline: none !important;
}

/* Fix Bookmark colors/border */
.nw_bookmark-link {
	border: none !important;
	outline: none !important;
}
.bi.bi-star.font-icon{
	color: #000 !important;
}
.bi-star {
	color: $text_color !important;
	text-shadow: 0 0 3px #000; /* horizontal-offset vertical-offset 'blur' colour */
	-moz-text-shadow: 0 0 3px #000;
	-webkit-text-shadow: 0 0 3px #000;
}







/*****************************************************************************************	
 Konto
*****************************************************************************************/
.bg-light > h3{
	color: #fff !important;
}